<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{pageTitle}}!!
  </h1>
  <product-list></product-list>
</div> -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink]='["/welcome"]'>Home</a></li>
    <li><a class="nav-link" [routerLink]='["/products"]'>Product List</a></li>
  </ul>
</nav>
<div style="width:80%; margin: auto;">

  <router-outlet></router-outlet>
</div>